*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(../imgs/fundo.png) repeat-x top left;
}

#container{
	width: 750px;
	margin:0 auto;
}

#topo{
	height: 175px;
	background: url(../imgs/detalhe-topo.png)no-repeat right top;
	padding-top: 30px;

}	
.logo{
	width: 152px;
	height: 66px;
	background: url(../imgs/logo.png) no-repeat center;
	text-indent: -4000px ;

}

/* barra de navegação formatação*/
a:link, a:visited{
	color: #b10333;
	

}

a:hover{
	color: #e50040;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

#topo ul{
	background: #b10333;
	margin-top: 20px;
	float: left;
}

#topo ul li{
	float: left;
}

#topo ul a{
	font-size: 0.9em;
	display: block;
	padding: 0.5em 1.3em;
	text-decoration: none;
	line-height: 2.1em;
	color: #fff;
	background: url(../imgs/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
	background: none;
}

#topo ul a:hover{
	color: #69001d;
}

body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.internacional #navegacao a#internacional,
body.economia #navegacao a#economia,
body.saude #navegacao a#saude,
body.ciencia #navegacao a#ciencia,
body.fotos #navegacao a#fotos{
	color: #fff;
	background: #de003e;
	cursor: text;
}

/*----Conteúdo---*/

#conteudo{
	background: #f5f5f5;
	margin-top: 40px;
	
}

#principal{
	width: 270px;
	float:left ;
	margin: 0 0 20px 195px;

}

#duas-colunas #principal{
	width: 555px;

}

#uma-coluna #principal{
	width: 750px;
	margin: 0 0 20px 0px;

}

#secundario{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;

}


/*Barra lateral*/

.caixa{
	margin: 10px 0;
	padding: 5px ;
	background:#f3f3f3 url(../imgs/fundo-caixa.png) ;
}

h2{
	font-size: 1em;
	background-color:#294c71 ;
	color: #fff;
	padding: 5px;

	


}

h2#news{
	margin-top: 5px;
}

.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;

}

/*Formatação Menu lateral*/

#lateral ul a{
	font-size: 0.9em;
	display: block;
	text-decoration: none;
	padding: 3px;
	line-height: 30px;
	color: #000;
	border-bottom: 1px solid #f3f3f3;
}

#lateral ul a:hover{
	background: #f9f9f9 url(../imgs/marcador.png) no-repeat left center;
	color: #a1a1a1;
	padding-left: 20px;
}

/*Formatação Cadastro Email*/
	
label{
	display: block;
	cursor: pointer;
}

input{
	width: 125px;
	padding: 5px;
	font-size: 0.9em;
	background: white;
}

input.submit{
	width: 139px;
	color: #fff;
	background-color: #B10333;
	border:2px solid #870529 
}

/*----Formatação imgs---*/

img.img-principal{
	width: 98%;
	border: 3px solid #dfdfdf;

}
/*-----formatação cabeçalhos---*/
.destaque h3{
	text-transform: uppercase;
	display: inline;
	font-size: 1em;
	padding: 3px;

	background: #b10333;
	color: #fff;
}

.entrevista h3.destaque{
	text-transform: uppercase;
	display: inline;
	font-size: 1em;
	padding: 3px;

	background:#de003e ;
	color: #000;
}
/*--------formatação noticias----------*/

#lista-noticias li{
	padding: 2px;
	border-bottom: 2px solid #ccc;
	height: 65px;

}

#lista-noticias li a img{
	float: left;
	margin: 5px;
}

#lista-noticias li a {
	text-decoration: none;
	

}
#lista-noticias li a h3 {
	
	font-size: 1em;
	color: #3e7ab9;

}

#lista-noticias li a p{
	
	font-size: 0.8em;

}

#lista-noticias li:hover{
	background: #eee;
	cursor: pointer;
	
	

}


/*-------rodapé------- */
#container-rodape{
	background: #294c71;
	padding: 20px;
}
#rodape{
	color: white;
	width: 750px;
	margin: 0 auto;
}
